# Configure aquí los datos SMTP para el envío de correos
# Ejemplo usando Gmail (requiere contraseña de aplicación si tienes 2FA)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=tu-correo@gmail.com
SMTP_PASS=tu-contraseña-o-app-password
EMAIL_FROM="El Gran Pez <tu-correo@gmail.com>"

# Variables adicionales
PORT=3000
MYSQL_URL=mysql://usuario:pass@host:port/base_de_datos
